body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #EDEBF7; /* Cor de fundo roxa clara */
}


header {
  background-color: #6B3E98; /* Cor de fundo roxa */
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-width: 70px; 
  display: inline-block; /* Logo centralizado no header */
}

.container {
  max-width: 800px;
  margin: 50px auto; 
  padding: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border-radius: 10px; /* Borda arredondada */
}

h1 {
  text-align: center;
  color: #6B3E98; /* Cor roxa para o título */
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #888888;
}

select, textarea, input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-size: 14px;
  color: #555555;
}

input[type="submit"] {
  background-color: #6B3E98; /* Cor roxa para o botão */
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.2s;
  border: none; 
  padding: 10px 15px; 
  border-radius: 5px; /* Borda arredondada para o botão */
}

input[type="submit"]:hover {
  background-color: #50276C; /* Cor roxa escura no hover do botão */
}

footer {
  background-color: #6B3E98;
  color: #fff;
  padding: 20px;
  text-align: center;
}

main {
  stroke: none;
  width: 100%;
}

